body {
    background-image: url(./img/mynotes_background.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    margin: 0;
    padding: 50px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: 0;
}

.noteSection {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.inputfieldTitle {
    padding: 12px 12px 6px 20px;
    border: none;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.inputfieldNote {
    padding: 12px 6px 6px 20px;
    border: none;
    outline: none;
    height: 200px;
    width: 300px;
    max-width: 300px;
    font-family: 'Courier New', Courier, monospace;
    }

.noteButton {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blocknotes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    }

.myNote {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    width: 310px;
    border-radius: 10px;
    margin-bottom: 20px;
    white-space: pre-line;
    overflow: hidden;
    word-break: break-all;
}

.myNote p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.notefield {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
    height: 100px;
    padding: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 50px;
}

.deleteButton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paperwaste-button {
    background-color: white;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    border-width: 0;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}

.paperwaste-button:hover {
    transition: 816ms;
    transform: scale(1.05);
}

.paperwaste-button a {
    text-decoration: none;
    color: black;
}

.paperwaste-button img {
    width: 24px;
    height: 24px;
}

.d-none {
    display: none;
}

@media (max-width: 500px) {
    h1 {
        font-size: 20px;
    }

    body {
        padding-left: 20px; 
    }

    .positionCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .noteSection {
        width: 300px; }

    .inputfieldNote {
        width: 250px;
        max-width: 250px;
    }

    .myNote {
        width: 260px;
    }
}

@media (max-width: 350px) {
    .noteSection {
        width: 250px; }

    .inputfieldNote {
        width: 200px;
        max-width: 200px;
    }

    .myNote {
        width: 210px;
    }
}